<a href="https://colab.research.google.com/github/avinashjairam/avinashjairam.github.io/blob/master/2_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://avinashjairam.github.io/tableExample1.html"
page = requests.get(url)

In [ ]:
page.content

b"<html>\n<head>\n\n<title>Table Scraping: Ex. #1</title>\n\n<style>\ntable, th, td {\n  border: 1px solid black;\n  border-collapse: collapse;\n}\nth, td {\n  padding: 5px;\n  text-align: left;\n}\n</style>\n</head>\n\n\n<body>\n\n<h2>Monthly Savings</h2>\n<p>Let's Track Our Savings</p>\n\n<table>\n  <caption>Monthly Savings</caption>\n  <tr>\n    <th>Month</th>\n    <th>Savings</th>\n  </tr>\n  <tr>\n    <td>January</td>\n    <td>$100</td>\n  </tr>\n  <tr>\n    <td>February</td>\n    <td>$50</td>\n  </tr>\n\n <tr>\n    <td>March</td>\n    <td>$340</td>\n  </tr>\n  <tr>\n    <td>April</td>\n    <td>$50</td>\n  </tr>\n\n <tr>\n    <td>May</td>\n    <td>$10</td>\n  </tr>\n  <tr>\n    <td>June</td>\n    <td>$5</td>\n  </tr>\n\n <tr>\n    <td>July</td>\n    <td>$210</td>\n  </tr>\n  <tr>\n    <td>August</td>\n    <td>$54</td>\n  </tr>\n\n <tr>\n    <td>September</td>\n    <td>$20</td>\n  </tr>\n\n  <tr>\n    <td>October</td>\n    <td>$0</td>\n  </tr>\n\n  <tr>\n    <td>November</td>\n    <td>$400</td>\n  </tr>\n\n  <tr>\n    <td>December</td>\n    <td>$2</td>\n  </tr>\n\n</table>\n\n\n</body>\n\n\n</html>"

In [ ]:
soup = BeautifulSoup(page.content, "html.parser")

print(soup.prettify())

<html>
 <head>
  <title>
   Table Scraping: Ex. #1
  </title>
  <style>
   table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
  </style>
 </head>
 <body>
  <h2>
   Monthly Savings
  </h2>
  <p>
   Let's Track Our Savings
  </p>
  <table>
   <caption>
    Monthly Savings
   </caption>
   <tr>
    <th>
     Month
    </th>
    <th>
     Savings
    </th>
   </tr>
   <tr>
    <td>
     January
    </td>
    <td>
     $100
    </td>
   </tr>
   <tr>
    <td>
     February
    </td>
    <td>
     $50
    </td>
   </tr>
   <tr>
    <td>
     March
    </td>
    <td>
     $340
    </td>
   </tr>
   <tr>
    <td>
     April
    </td>
    <td>
     $50
    </td>
   </tr>
   <tr>
    <td>
     May
    </td>
    <td>
     $10
    </td>
   </tr>
   <tr>
    <td>
     June
    </td>
    <td>
     $5
    </td>
   </tr>
   <tr>
    <td>
     July
    </td>
    <td>
     $210
    </td>
   </tr>
   <tr>
    <td>
     August
    </td>
    <td>
     $54
    </td>
   </tr>
   <tr>
    <td>
     September
    </td>
    <td>
     $20
    </td>
   </tr>
   <tr>
    <td>
     October
    </td>
    <td>
     $0
    </td>
   </tr>
   <tr>
    <td>
     November
    </td>
    <td>
     $400
    </td>
   </tr>
   <tr>
    <td>
     December
    </td>
    <td>
     $2
    </td>
   </tr>
  </table>
 </body>
</html>

In [ ]:
table = soup.find('table')

print(table)

<table>
<caption>Monthly Savings</caption>
<tr>
<th>Month</th>
<th>Savings</th>
</tr>
<tr>
<td>January</td>
<td>$100</td>
</tr>
<tr>
<td>February</td>
<td>$50</td>
</tr>
<tr>
<td>March</td>
<td>$340</td>
</tr>
<tr>
<td>April</td>
<td>$50</td>
</tr>
<tr>
<td>May</td>
<td>$10</td>
</tr>
<tr>
<td>June</td>
<td>$5</td>
</tr>
<tr>
<td>July</td>
<td>$210</td>
</tr>
<tr>
<td>August</td>
<td>$54</td>
</tr>
<tr>
<td>September</td>
<td>$20</td>
</tr>
<tr>
<td>October</td>
<td>$0</td>
</tr>
<tr>
<td>November</td>
<td>$400</td>
</tr>
<tr>
<td>December</td>
<td>$2</td>
</tr>
</table>

In [ ]:
print(table.findAll('tr'))

[<tr>
<th>Month</th>
<th>Savings</th>
</tr>, <tr>
<td>January</td>
<td>$100</td>
</tr>, <tr>
<td>February</td>
<td>$50</td>
</tr>, <tr>
<td>March</td>
<td>$340</td>
</tr>, <tr>
<td>April</td>
<td>$50</td>
</tr>, <tr>
<td>May</td>
<td>$10</td>
</tr>, <tr>
<td>June</td>
<td>$5</td>
</tr>, <tr>
<td>July</td>
<td>$210</td>
</tr>, <tr>
<td>August</td>
<td>$54</td>
</tr>, <tr>
<td>September</td>
<td>$20</td>
</tr>, <tr>
<td>October</td>
<td>$0</td>
</tr>, <tr>
<td>November</td>
<td>$400</td>
</tr>, <tr>
<td>December</td>
<td>$2</td>
</tr>]

In [ ]:
month = []
savings = []

rows = table.findAll('tr')

for row in rows:
  cells = row.findAll('td')
  if len(cells) == 2:
    month.append(cells[0].find(text=True))
    savings.append(cells[1].find(text=True))

print(month)
print(savings)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
['$100', '$50', '$340', '$50', '$10', '$5', '$210', '$54', '$20', '$0', '$400', '$2']

In [ ]:
#Removing $ from the savings values
for x in range(0, 12):
  savings[x] = savings[x].strip('$')
  


print(savings)

['100', '50', '340', '50', '10', '5', '210', '54', '20', '0', '400', '2']

In [ ]:
import pandas as pd 

#creating a dataframe

df = pd.DataFrame()

df['month'] = month
df['savings'] = savings

df

        month savings
0     January     100
1    February      50
2       March     340
3       April      50
4         May      10
5        June       5
6        July     210
7      August      54
8   September      20
9     October       0
10   November     400
11   December       2

In [ ]:
df.to_csv('Savings Table.csv')